# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore virtual environment
venv/
env/
ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore macOS files
.DS_Store

# Ignore Streamlit cache
.streamlit/

# Ignore data files
*.csv
*.xlsx
*.xls

# Ignore log files
*.log
